.popover {
    background-color: #ffffff;
    border: 1px solid #e6e6e9
}

.popover h3 {
    font-size: 1.125em;
    line-height: 25px
}

.popover.top .arrow {
    border-top-color: #e6e6e9
}

.popover.top .arrow:after {
    border-top-color: #fff
}

.popover.right .arrow {
    border-right-color: #e6e6e9
}

.popover.right .arrow:after {
    border-right-color: #fff
}

.popover.bottom .arrow {
    border-bottom-color: #e6e6e9
}

.popover.bottom .arrow:after {
    border-bottom-color: #fff
}

.popover.left .arrow {
    border-left-color: #e6e6e9
}

.popover.left .arrow:after {
    border-left-color: #fff
}

.popover-content {
    color: #000;
    font-size: .875em
}

.popover-icon,.popover .close {
    cursor: pointer;
    padding-left: 4px
}

.popover-text {
    margin-right: 8px
}

.password-criteria {
    list-style: none;
    margin-left: 0
}

.password-criteria li:before {
    content: '\0020';
    background: 0;
    padding-right: 1.5em
}

.password-criteria li {
    color: #9c9ca6
}

.password-criteria li:before {
    background: none;
    padding-right: 25px
}

.password-criteria li.valid {
    color: #000
}

.password-criteria li.valid:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2235px%22%20height%3D%2235px%22%20viewBox%3D%220%200%2035%2035%22%20enable-background%3D%22new%200%200%2035%2035%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23009e49%3B%20%7D%3C%2Fstyle%3E%0A%3Cpath%20d%3D%22M26.9%2C9.6c-0.2-0.2-0.5-0.2-0.7%2C0L14.4%2C21.4l-2.5-4.9c-0.2-0.5-0.8-0.7-1.3-0.4c-0.5%2C0.2-0.7%2C0.8-0.4%2C1.3l3.3%2C6.4v0v0%0A%09l13.5-13.5C27%2C10.2%2C27%2C9.8%2C26.9%2C9.6z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat -8px -8px
}